body,
html {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color: #ffffff;
  font-family: "Gill Sans", sans-serif;
  overflow: hidden;
}

header,
.welcome,
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #34c759;
  margin: 2px;
  height: 10%;
}

.logo {
  padding-right: 10px;
}

.calendar {
  display: flex;
  flex-direction: column;
}

.profile-button {
  padding: 10px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  border-radius: 7%;
}

#modal {
  border-radius: 7%;
  max-width: 600px;
  height: 300px;
  margin: auto;
  background-color: #72d8ff;
  position: static;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 70px;
  margin-left: 1250px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
}

nav {
  width: 8%;
  height: 85%;
  float: left;
  background-color: #34c759;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  margin: 2%;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
}

.profile-button:hover, .close-profile-button:hover, .water-button:hover, .bed-button:hover {
  box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  cursor: pointer;
}

main {
  background-color: #ffffff;
  width: 88%;
  height: 90%;
  float: right;
  display: flex;
  flex-direction: column;
}

.top {
  height: 75%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.weekly-hydration-display,
.weekly-sleep-display {
  border-radius: 25px;
  margin: 20px;
  height: 95%;
  width: 100%;
  background-color: #41a9f4;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
}

.widgets {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  margin: 10px;
}

.daily-hydration-display,
.daily-sleep-display {
  margin: 10px;
  background-color: #34c759;
  height: 50%;
  width: 85%;
  border-radius: 7%;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
}

.bottom {
  height: 22%;
  width: 98%;
  margin: 20px;
  border-radius: 25px;
  background-color: #41a9f4;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
}

.hidden {
  display: none;
}
