body, html {
  background-color: #ffffff;
  font-family: "Gill Sans", sans-serif;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  width: 100vw;
}

header, .title, .welcome {
  align-items: center;
  background-color: #34c759;
  display: flex;
  height: 10%;
  justify-content: space-between;
  margin: 2px;
}

.logo {
  padding-right: 10px;
}

.todays-date {
  font-weight: bold;
}

.profile-button {
  padding: 10px;
}

.overlay {
  border-radius: 7%;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.modal {
  background-color: #72d8ff;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  height: 300px;
  margin: auto;
  margin-top: 70px;
  margin-left: 1000px;
  max-width: 600px;
  padding: 20px;
  position: static;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

nav {
  align-items: center;
  background-color: #34c759;
  border-radius: 25px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  display: flex;
  flex-direction: column;
  float: left;
  height: 84%;
  justify-content: space-evenly;
  margin: 2%;
  width: 8%;
}

.profile-button:hover, .water-button:hover, .bed-button:hover, .walk-button:hover, .post-button:hover{
  box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  cursor: pointer;
}

.apple:hover {
  box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  float: right;
  height: 90%;
  width: 88%;
}

.top {
  align-content: center;
  background-color: #ffffff;
  display: flex;
  height: 75%;
  justify-content: space-between;
}

.weekly-hydration-display, .weekly-sleep-display, .weekly-activity-display {
  background-color: #f2f3f4;
  border-radius: 25px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  height: 90%;
  margin: 20px;
  padding: 10px;
  width: 65%;
}

.step-data, .minute-data, .distance-data {
  align-items: center;
  display: flex;
  margin-left: 160px;
  width: 40%;
}

.all-time-sleep-display {
  display: flex;
  justify-content: space-around;
}

.all-time-hours, .all-time-quality {
  border-radius: 25px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  margin: 20px;
  padding: 3px;
  text-align: center;
  width: 50%;
}

.all-time-hours {
  background-color: #97EBF4;
}

.all-time-quality {
  background-color: #ABE098;
}

.widgets {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 99%;
  justify-content: space-evenly;
  margin: 10px;
  width: 35%;
}

.daily-hydration-display, .daily-sleep-display {
  align-items: center;
  background-color: #34c759;
  border-radius: 7%;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  display: flex;
  height: 45%;
  justify-content: space-evenly;
  margin: 10px;
  width: 85%;
}

.post-modal {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: #72d8ff;
  border: 1px solid #888;
  margin: 15% auto;
  padding: 20px;
  width: 40%;
}

.close, .close-profile-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus, .close-profile-button:hover, .close-profile-button:focus {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.bottom {
  align-items: center;
  background-color: #41a9f4;
  border-radius: 25px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  display: flex;
  height: 20%;
  justify-content: space-evenly;
  margin: 20px;
  width: 95.5%;
}

.compare {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.compare-steps, .compare-mins-and-flights, .stride-length {
  font-size: 0.9em;
}

.hidden {
  display: none;
}
